{
    "extends": [
        "react-app"
    ],
    "rules": {
        "max-len": ["warn", 120, { "ignoreRegExpLiterals": true }],
        "indent": ["warn", 4],
        "react/jsx-indent" : ["error", 4],
        "react/jsx-indent-props" : ["error", 4],
        "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
        "react/react-in-jsx-scope": "off",
        "semi": ["error", "always", { "omitLastInOneLineBlock": true}],
        "import/extensions": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": ["error"],
        "object-curly-newline": "off",
        "camelcase": "warn",
        "arrow-parens": "off",
        "react/prop-types": "off",
        "no-confusing-arrow": "off",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": ["error"],
        "react/jsx-one-expression-per-line": "off",
        "jsx-a11y/anchor-is-valid": "warn",
        "linebreak-style": "off",
        "@typescript-eslint/no-var-requires": "off",
        "react/jsx-props-no-spreading": "warn",
        "react/require-default-props": "warn",
        "no-param-reassign": "off",
        "no-plusplus": "off",
        "react/no-unstable-nested-components": "off",
        "react/function-component-definition": ["warn", {
            "namedComponents": "arrow-function",
            "unnamedComponents": "arrow-function"
        }],
        "default-param-last": "off"
    }
}