@import '../../styles/colors.scss';

.logos-list {
    height: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    background-color: $secondary;
}

.logos-list__list {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}
