@import '../../styles/colors.scss';

.skills-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $tertiary;
}

.header {
    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
}

.text {
    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 66px;
    list-style-type: '✨';
}
