@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/breakpoints.scss';

.skills-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $tertiary;
}

.header {
    font-family: $mono;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 66px;
    @media (min-width: $medium) {
        font-size: 40px;
    }
    @media (min-width: $large) {
        font-size: 50px;
    }
}

.text {
    font-family: $mono;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    list-style-type: '✨';
    @media (min-width: $medium) {
        font-size: 30px;
        line-height: 40px;
    }
    @media (min-width: $large) {
        font-size: 35px;
        line-height: 50px;
    }
}
